<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.redevrx.flutter_phone_call_state">
    <application>
        <receiver
                android:name=".receiver.PhoneStateReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>


        <service
                android:name=".receiver.CallMonitoringService"
                android:permission="android.permission.FOREGROUND_SERVICE"
                android:foregroundServiceType="phoneCall" />

    </application>
</manifest>
